<div id="wrapper">
  
          <!-- Sidebar -->
          <div id="sidebar-wrapper">
              <nav id="spy">

                  <ul class="sidebar-nav nav">
                      <li class="sidebar-brand">
                          <a routerLink="/dashboard">
                            <span class="fa fa-home solo">Dashboard</span>
                          </a>
                      </li>
                      <li>
                          <a routerLink="/expenses">
                              <span class="fa fa-anchor solo">Expense List</span>
                          </a>
                      </li>
           
                      <li>
                          <a routerLink="/add-category">
                              <span class="fa fa-anchor solo">Add New Category</span>
                          </a>
                      </li>
                      <li>
                        <a routerLink="/add-expense">
                          <span class="fa fa-anchor solo">Add New Expense</span>
                        </a>
                      </li>
                      <li>
                        <a routerLink="" >
                            <span class="fa fa-anchor solo">Logout</span>
                        </a>
                    </li>
                      
                  </ul>
              </nav>
          </div>
        </div> 