<app-sidebar-navigation></app-sidebar-navigation>
 <div id="page-content-wrapper">  
   <div class="page-content inset">
     <h1 style="text-align:center">Add New Category</h1>
     <div class="user">
       <div *ngIf="logInFailed" class="alert alert-danger text-center" role="alert">
         {{message}}
     </div>
       <form class="form"  (ngSubmit)="onAddCategory()" novalidate> 
           <div class="form__group">
               <input type="text" class="form__input" id="" placeholder="Name Of Category" [(ngModel)] = "category.name"  name="category_name" required>
           </div>
           
           <button class="btn" type="submit">Add Category</button>
       </form>
       <br>
     </div>
  </div>
  </div>
 
