<app-sidebar-navigation></app-sidebar-navigation>
<div id="page-content-wrapper">  
  <div class="page-content inset">
    <h1 style="text-align:center">Add New Expense</h1>
    <div class="user">
      <div *ngIf="logInFailed" class="alert alert-danger text-center" role="alert">
        {{message}}
    </div>
      <form class="form"  (ngSubmit)="onaddExpense()" novalidate> 
        <div class="form__group">
          <select class="form__input" [(ngModel)]="expense.category_id" [ngModelOptions]="{standalone: true}">
            <option >Select Category</option>
            <option *ngFor="let cat of categories" [value]="cat[0]"  name="category" >
              {{cat[1]}}
            </option>
          </select>  
        </div>     
          <div class="form__group">
              <input type="text" class="form__input" id="" placeholder="Name Of Expense"  [(ngModel)]="expense.name" name="name" required>
          </div>
          
          <div class="form__group">
              <input type="number" class="form__input" id="" placeholder="Total Money Spent" [(ngModel)]="expense.money_spent" name="money_spent" required>
          </div>
          <div class="form__group">
             <input type="checkbox"  id="" placeholder="Is Recurrable"   value="False" [(ngModel)]="expense.is_recurring" name="is_recurring" required>Is Recurrable
          </div>
          <button class="btn" type="submit">Add Expense</button>
      </form>
      <br>
    </div>
 </div>
 </div>