<app-sidebar-navigation></app-sidebar-navigation>
<div id="page-content-wrapper">  
  <div class="page-content inset">
    <h1 style="text-align:center">Add New Expense</h1>
    <div class="user">
      <div *ngIf="logInFailed" class="alert alert-danger text-center" role="alert">
        {{message}}
    </div>
      <form class="form"  (ngSubmit)="onLogin()" novalidate> 
        <div class="form__group">
          <select class="form__input">
            <option>Select Category</option>
            <option *ngFor="let cat of categories" [value]="cat">
              {{cat}}
            </option>
          </select>  
        </div>     
          <div class="form__group">
              <input type="text" class="form__input" id="" placeholder="Name Of Expense"  name="name" required>
          </div>
          
          <div class="form__group">
              <input type="text" class="form__input" id="" placeholder="Total Money Spent"  name="money_spent" required>
          </div>
          <div class="form__group">
             <input type="checkbox"  id="" placeholder="Is Recurrable"  name="is_recurrable" value="False" required>Is Recurrable
          </div>
          <button class="btn" type="submit">Add Expense</button>
      </form>
      <br>
    </div>
 </div>
 </div>
